<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-2">
        <div class="m-2">
          <div class="card-header">
            <h2 class="text-center m-4">Sign up</h2>
          </div>
          <div class="card-body">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "row g-3" }) do |f| %>
              <%= f.error_notification %>
              <div class="col-md-12">
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            placeholder: "boris@lewagon.com",
                            input_html: { autocomplete: "email", class: "form-control" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :password,
                            required: true,
                            placeholder: "•••••••••",
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", class: "form-control" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :password_confirmation,
                            required: true,
                            placeholder: "•••••••••",
                            input_html: { autocomplete: "new-password", class: "form-control" } %>
              </div>
              <h4>Personal information</h4>
              <div class="col-md-6">
                <%= f.input :first_name,
                            required: true,
                            placeholder: "Boris",
                            input_html: { autocomplete: "first_name", class: "form-control" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :last_name,
                            required: true,
                            placeholder: "Paillard",
                            input_html: { autocomplete: "last_name", class: "form-control" } %>
              </div>
              <div class="col-md-6">
                <%= f.input :phone,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "phone", class: "form-control" },
                            label: 'Phone' %>
              </div>
              <div class="col-md-6">
                <%= f.input :address,
                            required: true,
                            autofocus: true,
                            input_html: { class: "form-control" },
                            label: 'Address' %>
              </div>
              <div class="col-12 text-center">
                <%= f.button :submit, "Sign up", class: "btn btn-primary mb-4 col-3" %>
              </div>
            <% end %>
            <div class="col-12">
              <p>Have an account? <%= link_to "Login", new_user_session_path %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
