<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-la-musique">
  <div class="container-fluid px-5">
    <div class="">
      <%= link_to root_path, class: "d-flex align-items-center link-logo" do %>
        <%= image_tag "logo_navbar.png", alt:"logo-webpage" %>
        <span class="ms-2 h5 mb-0">La musique <em>marketplace</em></span>
      <% end %>
    </div>
    <div class="centered-form mx-auto">
      <%= form_with url: products_path, method: :get, class: "d-flex search-button" do %>
        <%= text_field_tag :query, params[:query], class: "form-control me-2 center", placeholder: "Find a product" %>
        <%= submit_tag "Search", class: "btn btn-outline-success" %>
      <% end %>
    </div>
    <div class="text-end px-5 ">
      <ul class="navbar-nav flex-row action-logo align-items-center">
        <li class="nav-item col">
          <%= link_to "Home", root_path, class: "nav-link active align-items-center", "aria-current" => "page" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item col">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link"%>
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <% if current_user.profile_picture.attached? %>
                <%= cl_image_tag current_user.profile_picture.key, class: 'profile-picture-small' %>
              <% else %>
                <%= cl_image_tag("no-profile-picture_zttuuq", class: "profile-picture-small") %>
              <% end %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Marketplace", products_path, class: "nav-link" %></li>
              <li><%=link_to "Create product", new_product_path, class: "nav-link" %></li>
              <%# <li><a class="dropdown-item" href="#">Bookings</a></li> %>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "My Account", edit_user_registration_path, class: "nav-link" %></li>
              <li><%= link_to "Logout", destroy_user_session_path, data: { turbo_method: 'delete'}, class: "nav-link" %> </li>
            </ul>
          </li>
        <% else %>
          <%= link_to "Register",  new_user_registration_path, class: "nav-link btn btn-outline-primary mx-1" %>
          <%= link_to "Sign in", new_user_session_path, class: "nav-link btn btn-outline-primary mx-1" %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
