<div class="form-control">
  <%= simple_form_for [@product, @order] do |f| %>
    <% payment_types = ["Cash", "Bank Transfer ", "Direct Debit", "Credit/Debit Cards", "PayPal"] %>
    <% default_payment_method = payment_types.first %>
    <%= f.input :payment_method,
                required: true,
                selected: default_payment_method,
                collection: payment_types %>
    <%= f.input :start_date,
                as: :date,
                required: true,
                html5: true  %>
    <%= f.input :end_date,
                as: :date,
                required: true,
                html5: true %>
    <%= f.button :submit, class: "btn btn-primary mb-4 col-6 text-center" %>
  <% end %>
</div>
