<div id="carouselExampleCaptions" class="carousel slide la-musique" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "img_home_1.jpg", alt:"home-image-1" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <%= link_to "Go to the marketplace", products_path, class: "btn btn-primary text-white" %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "img_home_2.jpg", alt:"home-image-2" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid placeat velit reprehenderit necessitatibus optio alias quia sed soluta minima aperiam veniam dolorem iure animi eligendi, quibusdam laudantium ipsam enim laboriosam.</p>
        <%= link_to "Go to the marketplace", products_path, class: "btn btn-primary text-white" %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "img_home_3.jpg", alt:"home-image-3" %>
      <div class="carousel-caption d-none d-md-block">
        <h5>EXAMPLE FOR FILL</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor fugit, ducimus optio, officiis dignissimos voluptatum eligendi velit itaque repellat aspernatur excepturi quis, veritatis incidunt perspiciatis quaerat odio similique necessitatibus iste!</p>
        <%= link_to "Go to the marketplace", products_path, class: "btn btn-primary text-white" %>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class=" bg-white pt-4 pb-4">
  <h2 class="text-center pb-1">Some of the trends now:</h2>
  <div class="row row-cols-1 row-cols-md-4 g-4 px-5">
    <% @products.sample(4).each do |product|%>
      <div class="col img-link">
        <div class="card h-100">
          <a href="<%= product_path(product) %>" class="link">
            <div class="image-index">
              <% if product.photos.attached? %>
                <%= cl_image_tag product.photos.first.key, class: "mh-100 image-right" %>
              <% else %>
                <%# <%= cl_image_tag("no-image_m7jnrj", class: "mh-100 image-right") %>
                <img src="<%= product.photo %>" alt="" class="mh-100 image-right"  >
              <% end %>
            </div>
            <div class="card-body ">
              <h2 style="margin-top: 5px;" ><strong><%= product.title %></strong></h2>
              <div class="avatar-position position-absolute top-50 end-0 translate-middle-y">
                <% if product.user.profile_picture.attached? %>
                  <%= cl_image_tag product.user.profile_picture.key, class: 'card-booking-user avatar-bordered', style: 'width: 50px; height: 50px; margin: 60px 7px 0 0' %>
                  <p class="text-center"><%= product.user.first_name %></p>
                <% else %>
                  <%= cl_image_tag("no-profile-picture_zttuuq", class: "card-booking-user avatar-bordered", style: 'width: 150px; height: 150px; padding: 3px') %>
                  <p class="text-center"><%= product.user.first_name %></p>
                <% end %>
              </div>
              <p class="card-text"> <%= product.description %> </p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
