<% if user_signed_in? == false %>
  <div class="alert alert-warning" role="alert">
    You have to login for see all the information of the customer!
  </div>
<% end %>

<p><strong>Title:</strong> <%= product.title %></p>

<p><strong>Description:</strong> <%= product.description %></p>

<p><strong>Price:</strong> <%= product.price %> €</p>

<% if user_signed_in? %>
  <p><strong>Email:</strong><%= product.user.email %></p>
  <p><strong>Address:</strong><%= product.address %></p>
<% end %>
