  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= product.user_id %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= product.address %>
  </p>
