<% unless user_signed_in? %>
  <div class="alert alert-warning" role="alert">
    You must login to view all the customer information.
  </div>
<% end %>

<h1 class="text-center"><%= @product.title %></h1>

<div class="container card-group">
  <div class="d-flex row">
    <div class=" product-photo w-75">
      <%= render 'photo_carrousel' %>
    </div>
    <div class=" card w-25">
      <div class=" card row">
        <p><strong>Description:</strong> <%= @product.description %></p>
        <p><strong>Price:</strong> <%= @product.price %> €</p>
        <% if user_signed_in? %>
          <p><strong>Email: </strong><%= @product.user.email %></p>
          <p><strong>Address: </strong><%= @product.address %></p>
        <% end %>
      </div>
      <div class=" card row align-item-center">
        <% if @product.user != current_user %>
            <%= render "orders/form", order: @order%>
          <% else %>
            <%= link_to "Update this product information", edit_product_path(@product), class: "btn btn-light hover-shadow"  %>
            <%= button_to "Remove this product", @product, method: :delete, class: "btn btn-primary hover-shadow"%>
          <% end %>
      </div>
    </div>

  </div>

  <% if user_signed_in? %>
        <% unless @product.user == current_user %>
          <div id="map" style="width: 70%; height: 400px;"
          data-controller="map"
          data-map-markers-value="<%= [@marker].to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        <% end %>


      <% end %>
</div>

<div class="container">
  <%= link_to "Back to products", products_path, class: "btn btn-primary mt-3" %>
</div>
